[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
firebase-admin = "*"
langchain-openai = "*"
langchain-core = "*"
langchain-pinecone = "*"
pinecone-client = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
